
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ficility</title>
</head>
<body>
    <div id="root">
        <div>
            <span>
                    是否需要额外付费设施
                    <input type="checkbox" v-model = "ischeck">
            </span>
            <ul v-show = "ischeck">
                    <li v-for="obj in payList">
                            {{obj.name}}（{{obj.price}}）
                            <input type="checkbox" v-model="orderList" :value="obj"> 
                        </li>
                <!-- <li></li> -->
            </ul>
        </div>
        <div>
            <span>
                
            </span>
            <!-- <div></div> -->
            <ul>
                <li></li>
                <li></li>
                <li></li>
            </ul>
            <span></span>
        </div>
    </div>
</body>
<script src = "vue.js"></script>
<script>
var vm = new Vue({
    el:"#root",
    data:{
                isCheck:false,
                payList:[
                    {
                        name:'沙发',
                        price:100
                    },
                    {
                        name:'wifi',
                        price:50
                    },
                    {
                        name:'电脑',
                        price:200
                    }
                ]
                ,
                orderList:[
                    {
                        name:'群力花园豪华型',
                        price:400
                    }
                ]
            },
           
    methods: {
        
    },
})
</script>
</html>